<section class="container">
<div class="row mb-3 shadow-lg p-3 bg-body-tertiary rounded d-flex" style="width: auto;">
     <div class="col">
      <% if @user.photo %>
        <img src="<%= @user.photo %>" class="rounded float-start", style="width: 5rem; heigth: 5rem; alt="...">
      <% else %>
          <p> No image found </p>
      <% end %>
     </div>
    <div class="col-md-11">
      <div class='card-body'>
        <h1 class="card-title text-decoration-none mt-4"><%= @user.name %></h1>  
        <h6 class="card-text ,t-2">Number of posts: <span><%= @user.PostCounter %></span></h6>
       </div>
    </div>
  </div>
<% counter = 1 %>
  <% @posts.each do |post| %>
  <div class="card mt-5 mb-5 --bs-dark bg-warning border border-dark-subtle" style="width: 80rem;">
    <div class='card-body'>
      <div class="d-flex justify-content-end mb-3">
  <% if can? :destroy, post %>
    <%= button_to 'X', user_post_path(post.author_id, post.id), 
    method: :delete, data: { turbo: false }, 
    class: "btn btn-dark ml-auto justify-content-end" %>
  <% end %>
</div>
    <h6 class='card-text text-dark text-end'>Comments: <%= post.CommentsCounter%> Likes: <%= post.LikesCounter %></h6> 
  
      <h3 class="card-title text-light">Post #<%= counter %></h3>
      <h4 class="mb-5 mt-5"><%= post.title %></h4>
      <h6><%= post.text %></h6>
      <div class="d-flex justify-content-center gap-5">
      <%= link_to 'Create post', new_user_post_path(@user), class: "btn btn-dark mt-5 text-light"%><br>
      <%= link_to 'All comments', user_post_path(id: post.id), class: "btn btn-dark mt-5 text-light"%>
      <%= form_with url: "/users/#{@user.id}/posts/#{post.id}/likes", class: 'like_button' do |form| %>
      <%= form.submit "Like a Post", class: "btn btn-dark mt-5 text-light" %>
      </div>
    
      <% end %>
      
      
   </div>
     <% counter += 1 %>
    <% post.recent_comments.each do |comment| %>
    <hr p-2>
        <div class="card-body">
          <p>
            <strong><%= comment.author.name %>:</strong>
            <span><%= comment.text %></span>
          </p>
          
        </div>
      <% end %>
  </div>
  <div class="text-center">

  </div>

  
 
  <% end %>
  
    
  </section>


     