<% counter = 1 %>
  <% @user.posts.each do |post| %>
  <div class="card mt-5 mb-5 --bs-dark bg-warning border border-dark-subtle" style="width: 80rem;">
    <div class='card-body'>
      <h3 class="card-title text-black">Post #<%= counter %></h3>
      <h6><%= post.text %></h6>
      
      <h6 class='card-text text-black text-end'>Comments: <%= post.CommentsCounter%> Likes: <%= post.LikesCounter %></h6>
   </div>
    <% post.recent_comments.each do |comment| %>
    <hr p-2>
        <div class="card-body">
          <p>
            <strong><%= comment.author.name %>:</strong>
            <span><%= comment.text %></span>
          </p>
          <%= link_to 'See all comments', user_post_path(id: post.id), class: "btn btn-secondary mt-3"%>
        </div>
      <% end %>
  </div>
  <% end %>
     