<div class="info-box">
  <h3>Title: <%= @post.title %></h3>
  <span>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter%></span>
  <h4>Text: <%= @post.text %></h4>
</div>

<div class="info-box">
  <h4>Comments (<%= @comments.count %>):</h4>
  <% @comments.each do |comment| %>
    <p><%= comment.text %></p>
  <% end %>
</div>