<% counter = 1 %>
<% @user.posts.each do |post| %>
  <div class="card mt-5 mb-5 --bs-dark bg-warning border border-dark-subtle" style="width: 80rem;">
    <div class='card-body'>
      <h6 class='card-text text-light text-end mt-0"'>Comments: <%= post.CommentsCounter%> Likes: <%= post.LikesCounter %></h6>
      <h3 class="card-title text-black">Post #<%= counter %> by <%= post.author.name %></h3>
      <h4 class="mt-3 mb-3"><%= post.title %></h4>
      <h6><%= post.text %></h6>
    </div>
  </div>
  <% counter += 1 %>
<% end %>
   <%# <%= link_to 'Add new comment', user_post_path(id: post.id), class: "btn btn-secondary mt-3"%>

<% @post.recent_comments.each do |comment| %>
    <hr p-2>
        <div class="card-body mb-5">
          <p>
            <strong><%= comment.author.name %>:</strong>
            <span><%= comment.text %></span>
            <% if can? :destroy, comment %>
              <%= button_to "Delete comment", user_post_comment_path(comment.author, comment.post, comment), method: :delete, data: { turbo: false } %>
            <% end %>
          </p>
        </div>
      <% end %>

       <div class="text-center">
  <%= link_to 'Create a comment', new_user_post_comment_path(@user.id, @post.id), class: "btn btn-dark center text-light m-2", style: "width: auto"%>
  </div>